node_modules

# Output
.output
.vercel
.netlify
.wrang
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db
.idea/

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
