.svelte-1uha8ag{text-align:center}@keyframes svelte-1uha8ag-rotate{0%{transform:rotate(0)}50%{transform:rotate(180deg)}to{transform:rotate(360deg)}}#loadIcon.svelte-1uha8ag{animation:svelte-1uha8ag-rotate 2s infinite;font-size:80px}
