h1.svelte-s29mgx,h2.svelte-s29mgx,h4.svelte-s29mgx{text-align:center}#trophy.svelte-s29mgx{margin:2rem auto;display:flex;justify-content:center;align-items:center;transform:scale(.4);transform-origin:center;transition:transform .5s ease}
